@use "../base/base" as *;

$main-bg: #181a1b;
$main: #2b2f31;

.body--theme-dark {
  background-color: $main-bg;

  * {
    scrollbar-width: auto;
    scrollbar-color: #868686 $main;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #868686;
    border: 0px solid $main;
  }

  *::-webkit-scrollbar-track {
    background-color: $main;
  }

  .fontAwesomeIcon--theme-dark,
  .header__container,
  .header__btn-remove,
  .header__btn-save,
  .header__btn-add,
  .menu,
  .editor__section-btn-preview,
  .editor__section-markdown header,
  .editor__section-preview header,
  .editor__section-text {
    color: white;
  }

  .header {
    background-color: $main;

    &__btns-container {
      background-color: $main;
      background: linear-gradient(90deg, transparent 0%, $main 8%);
    }

    &__btn-save {
      background-color: #7f1900;

      &:hover,
      &:focus {
        background-color: #a72100;
      }
    }

    &__btn-add {
      opacity: 0.8;

      &:hover,
      &:focus {
        opacity: 0.4;
      }
    }

    &__btn-menu {
      color: rgb(223, 223, 223);
      background-image: linear-gradient(to right, $main 93%, transparent);

      &::after {
        border-right: 1px solid rgba(255, 255, 255, 0.4);
      }
    }
  }

  .editor {
    &--overlay {
      &::after {
        background: rgba(100, 100, 100, 0.3);
      }
    }

    &__section-markdown,
    &__section-preview {
      header {
        background-color: #202324;
      }
    }

    &__section-preview,
    &__section-text {
      background-color: $main-bg;
    }
  }

  .menu {
    background-color: $main-bg;

    &__header {
      background-image: linear-gradient(to bottom, $main-bg 93%, transparent);
    }
  }

  .list-item {
    &--active {
      &::after {
        background-color: #1a1c1d;
      }
    }

    &__textarea {
      color: white;
    }
  }
}

@include media-lg {
  .body--theme-dark {
    .header {
      .menu-btn {
        &::after {
          background: $main;
          border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
