// Animations

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list-item--active {
  &::after {
    -webkit-animation: fade 1s;
    animation: fade 1s;
  }
}

.section-markdown,
.section-preview,
.saved-list-item,
.list-item {
  &,
  &--overlay::after {
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
  }
}

// Mixins

@mixin transition-ease($target) {
  transition: $target 350ms ease;
}

@mixin media-xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 1440px) {
    @content;
  }
}

// Varibales

$main: #dddddd;

$bars: #f1f1f1;

// Scrollbar

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b3b3b3 $main;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $main;
}

*::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  border: 2px solid $main;
}

// Typography

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  position: fixed;
}
