@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

// Animations

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active::after {
  -webkit-animation: fade 1s;
  animation: fade 1s;
}

.markdown,
.preview,
.document-container {
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

// Mixins

@mixin transition-ease($target) {
  transition: $target 350ms ease;
}

@mixin media-xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 1440px) {
    @content;
  }
}

// Varibales

$main: #dddddd;

$bars: #f1f1f1;

// Typography

body {
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

// textarea {
//   cursor: auto;
// }

// .header {
//   .menu-btn::after {
//     font-size: 1.2rem;
//     letter-spacing: 3;
//     text-transform: uppercase;
//   }

//   .doc-info {
//     >span {
//       text-transform: capitalize;
//       font-size: .8em;
//     }
//   }

//   .remove-btn {
//     font-size: .7rem;
//   }
// }

// .menu {
//   >div {
//     p {
//       #saved-num {
//         font-size: .8rem;
//       }

//       i {
//         color: black;
//         font-size: 1.2rem;
//       }
//     }
//   }
// }

// @include media-lg {
//   .header {
//     .save-btn::after {
//       text-transform: capitalize;
//       font-size: .9em;
//     }
//   }

//   .document-container {
//     .document {
//       .fa-file {
//         font-size: 1.2rem;
//       }
//     }
//   }
// }