@use "../base/base" as *;

@include media-lg {
  .header {
    padding-right: 10em;

    &__btn-menu {
      &::after {
        content: "markitdown";
        opacity: 0.8;
        text-transform: uppercase;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        padding: 0 1em 0 0;
      }
    }

    &__btn-save {
      display: flex;
      gap: 0.5em;

      p {
        display: initial;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;
  }

  .menu {
    &__list-alert {
      transform: translate(40%, 50%);
    }
  }

  .section-markdown {
    grid-column: 1/-1;

    &__preview--show {
      grid-column: auto / auto;
    }
  }

  .section-preview {
    grid-column: 2 / -1;
  }
}

@include media-xl {
  .section-markdown {
    display: flex;
    flex-direction: column;

    &__text {
      max-width: 1440px;
      justify-self: center;
      align-self: center;
    }
  }

  .section-preview {
    &__text {
      max-width: 1440px;
      margin: 0 auto;
    }
  }
}

@include media-xs {
  body {
    font-size: 0.8em;
  }
}
