@use "../base/base" as *;

@include media-lg {
  .header {
    padding-right: 10em;

    &__btn-menu {
      &::after {
        content: "markitdown";
        opacity: 0.8;
        text-transform: uppercase;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        padding: 0 1em 0 0;
      }
    }

    &__btn-save {
      display: flex;
      gap: 0.5em;

      p {
        display: initial;
      }
    }

    &__btns-container {
      height: 45px;
    }
  }

  .menu {
    &__list-alert {
      transform: translate(40%, 50%);
    }
  }

  .editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;

    &__section-markdown {
      grid-column: 1/-1;

      &--preview-visible {
        grid-column: auto / auto;
      }

      .section-markdown--text {
        max-height: 85vh;
      }
    }

    &__section-preview {
      position: static;
      grid-column: 2;

      .section-preview--text {
        height: 85vh;
      }
    }
  }
}

@include media-xl {
  .editor {
    &__section-markdown {
      display: flex;
      flex-direction: column;

      .section-markdown--text {
        max-width: 1440px;
        justify-self: center;
        align-self: center;
      }
    }

    &__section-preview {
      .section-preview--text {
        max-width: 1440px;
        margin: 0 auto;
      }
    }
  }
}

@include media-xs {
  body {
    font-size: 0.8em;
    
    .header {
      &__btns-container {
        height: 35px;
      }
    }
  }
}
