@use "../base/base" as *;

.doc {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  gap: 0.5em;
  cursor: pointer;
  @include transition-ease(opacity);

  .doc-con {
    gap: 0.5em;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  .remove-btn {
    opacity: 0.8;
    @include transition-ease(opacity);

    &:hover,
    &:focus {
      opacity: 0.3;
    }
  }

  .transparent-textarea {
    width: 100%;
    overflow: hidden;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    line-height: 1.2;
  }

  .doc-el {
    z-index: 1;
    align-self: center;
  }
}

.active {
  box-sizing: content-box;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    translate: 0 -15px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    background-color: $bars;
    position: absolute;
    left: 0;
  }

  // overwriting
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.hide {
  display: none;
}
