@use "../base/base" as *;

.header {
  display: flex;
  background-color: $main;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
  // padding-right: 10em;
  // position: relative;

  // &::-webkit-scrollbar-thumb {
  //   background-color: #b3b3b3;
  //   border-radius: 10px;
  //   border: 0px solid $main;
  //   width: 8px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: $main;
  // }

  &__container {
    display: flex;
    gap: 0.5em;

  }

  &__nav-items {
    display: flex;
    gap: 1em;
    height: 100%;
  }

  &__btn-menu {
    z-index: 2;
    display: flex;
    padding: 1em;
    gap: 1em;
    position: sticky;
    left: 0;
    background-image: linear-gradient(to right, $main 93%, transparent);
    
    .btn-menu-icon {
      @include transition-ease(rotate);
    }

    &:hover .btn-icon,
    &:focus .btn-icon {
      rotate: 90deg;
    }
  }

  &__btn-save {
    background-color: #ff9980;
    border-radius: 4px;
    padding: 0.5em;
    @include transition-ease(background-color);

    &:hover,
    &:focus {
      background-color: #ffb6a3;
    }

    p {
      display: none;
    }
  }

  &__btn-add {
    padding-left: 1em;
    opacity: 0.3;
    @include transition-ease(opacity);

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__btns-container {
    // position: absolute;
    // align-self: stretch;
    // align-items: center;
    // height: 100%;
    z-index: 2;
    position: sticky;
    right: 0;
    display: flex;
    gap: 1em;
    padding-right: 0.5em;
    background-color: $main;
    background: linear-gradient(90deg, transparent 0%, $main 8%);
  }
}
