@use "../base/base" as *;

.markdown,
.preview {
  header {
    background-color: $bars;
    padding: .5em 1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
}

.preview {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  min-height: 100vh;
}

.preview-btn {
  @include transition-ease(opacity);

  &:hover,
  &:focus {
    opacity: .5;
  }
}

main {
  position: relative;
}

#text {
  box-sizing: content-box;
  width: 100%;
  resize: none;
  border: 0;
  outline: none;
  // padding: 1em 2em;
  // padding: 1em 0em;
  // overflow: hidden;
  overflow-y: auto;
  max-height: 80vh;
}

#preview {
  padding: 1em 2em;
  word-break: break-all;
  overflow-x: hidden;
}

#text,
#preview,
.header {
  &::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
    border: 0px solid $main;
  }

  &::-webkit-scrollbar-track {
    background-color: $main;
  }
}

#text,
#preview {
  &::-webkit-scrollbar {
    width: 8px;
  }

}