@use "../base/base" as *;

.menu {
  height: 100vh;
  position: absolute;
  background-color: white;
  @include transition-ease(left);
  left: -100vw;
  min-width: 200px;
  z-index: 1;
  border-radius: 0 10px 10px 0;

  &--show {
    left: 0;
  }

  &__items-num {
    margin-left: 0.2em;
    opacity: 0.6;
  }

  &__btn-theme-switch {
    @include transition-ease(opacity);
    padding: 1em;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      padding: 1em;
    }
  }

  &__list-alert {
    position: fixed;
    opacity: 0.8;
    color: grey;
    transform: translate(40%, 50%);
  }
}
