@use "../base/base" as *;

@include media-lg {
  .header {
    padding-right: 12em;

    > div {
      .logo {
        display: block;
      }
    }

    .save-btn {
      display: flex;
      gap: 0.5em;

      p {
      display: initial;
    }
    }

    .active::after {
      height: 122%;
    }

    .long-nav {
      &::after {
        content: "";
        width: 35%;
        height: 55px;
      }

      .add-btn {
        right: 160px;
      }
    }

    .doc {
      width: 150px;
    }

    .menu-btn {
      padding-right: 0;

      &::after {
        display: inline-block;
      }
    }

    .menu-btn-mode {
      background: $main;
    }
  }

  .doc {
    .doc-info {
      display: flex;
      flex-direction: column;
      gap: 0.3em;

      > span {
        display: block;
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;

    .markdown {
      grid-column: 1/-1;
    }

    .show-preview {
      grid-column: auto / auto;
    }
  }

  .preview {
    position: initial;
    translate: initial;
    z-index: initial;
    width: initial;
    background-color: initial;
    min-height: initial;
  }
}
